/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}

#main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title {
    text-align: center;
    color: #333;
}

#img-div {
    text-align: center;
    margin-bottom: 20px;
}

#image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#img-caption {
    font-style: italic;
    color: #777;
    margin-top: 10px;
}

#headline {
    color: #333;
}

#tribute-info {
    background-color: navajowhite;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    color: #555;
}

blockquote {
    border-left: 4px solid #333;
    padding-left: 10px;
    margin: 20px 0;
}

blockquote p {
    color: #666;
}

blockquote cite {
    font-style: normal;
    color: #777;
}

#tribute-link {
    color: #007bff;
    text-decoration: none;
}

#tribute-link:hover {
    text-decoration: underline;
}
