.synopsis {
    color: #7E8184;
    font-style: italic;
}

div {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 500px;
    box-sizing:border-box;
    margin: 20px auto
}

.page {
    width: 600px;
    margin: 0 auto;
} 
.call-to-action {
    font-style: italic;
    background-color: #EEB75A
}

#button-2 {
    color: #5D6063;
}